@include keyframes(zoom) {
    0% {
        @include transform(scale(2, 2));
        opacity: 0;
    }
    100% {
        @include transform(scale(1, 1));
        opacity: 1;
    }
}

@include keyframes(zoomo) {
    0% {
        @include transform(scale(1, 1));
        opacity: 1;
    }
    100% {
        @include transform(scale(0, 0));
        opacity: 0;
    }
}

.message-display {
    font-family: Roboto;
    font-size: 24px;
    opacity: 0.7;

    padding-left: 12px;
    padding-right: 12px;

    img {
        @include transition(0.5s, all);
    }
}

.message-display.textcycle-enter, .message-display.textcycle-appear {
    @include animation(zoom 0.5s);
}

.message-display.textcycle-leave {
    @include animation(zoomo 0.5s);
}
