@import 'globals';

#root {
    background-color: $branding_bg;
    text-align: center;
    width: 100%;
    height: 100%;

    position: relative;

    overflow: hidden;

    & > h1 {
        font-family: Roboto;
        font-weight: 100;
        font-size: 42px;
        position:relative;
        z-index: 2;
        margin: 32px;
    }

    & > .custom-button {
        display: inline-block;
        position:absolute;
        z-index: 2;

        bottom: 0;

        @include transform( translate(-120px, -32px) );
    }

    .message-display {
        position:absolute;
        margin-top: -0.5em;
        top: 50%;
        width: 100%;
    }

}
