<?xml version='1.0' encoding='utf-8'?>
<widget id="com.enigmasm.mmo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MMORPG</name>
    <description>
        A simple Cordova test application
    </description>
    <author email="mhuan13@gmail.com" href="https://www.github.com/Adjective-Object">
        Adjective-Object
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
